@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes changeBgColor {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  60% {
    opacity: 0.1;
    filter: blur(10px);
  }
  100% {
    opacity: 0;
  }
}
