@import "./../utils/variable";

.about {
  &--margin-t {
    margin-top: 142.1px;
  }

  &__description {
    position: relative;

    width: 454px;
    height: 240px;

    font-family: getFont(secondary-grotesque-pro);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;

    text-align: justify;

    color: getColor(font-main-color);

    &--margin-r {
      margin-right: 34.1px;
    }

    &::before {
      content: "";
      display: inline-block;
      background: url("./../../src/svg/quote.svg") top center no-repeat;

      position: absolute;
      top: -46.1px;
      left: -10px;
      z-index: -1;

      transform: rotate(180deg);

      width: 95.1px;
      height: 86.4px;
    }

    &::after {
      content: "";
      display: inline-block;
      background: url("./../../src/svg/quote.svg") top center no-repeat;

      position: absolute;
      bottom: -43.4px;
      right: 0;
      z-index: -1;

      width: 95.1px;
      height: 86.4px;
    }
  }
  &__title {
    font-family: getFont(secondary-grotesque-pro);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 65px;

    text-align: center;

    color: getColor(font-main-color);

    &--margin-t {
      margin-top: 67.4px;
    }
  }
}

.about-list {
  display: flex;
}

.slider {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 63.5px;
    margin-bottom: 64px;
  }

  &__indicator {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: none;

    background-color: getColor(slider-nav-color);

    cursor: pointer;
    &:hover,
    &:focus {
      background-color: getColor(slider-dark-nav-color);
    }

    &--margin-r {
      margin-right: 16px;
    }
  }

  .curent {
    background-color: #000;
  }
}
